html{
    box-sizing: border-box;
}
html::-webkit-scrollbar {
    display: none;
}
*, *::after, *::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
html,
body{
    height: 100%;
    background-color: #1C1C1A;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: inherit;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.container{ /* Устанавливает поля */
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 10px;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf') format('ttf'),
    url('../fonts/Montserrat-Bold.ttf') format('ttf'),
    url('../fonts/Montserrat-Medium.ttf') format('ttf'),
    url('../fonts/Montserrat-SemiBold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
body{
    min-height: 100%;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
}
h1{
    font-size: 32px;
    font-weight: 600;
}
h2{
    font-size: 30px;
    font-weight: 500;
}
h3{
    font-size: 22px;
    font-weight: 400;
}
h4{
    font-size: 16px;
    font-weight: 400;
}

hr {
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.60);
    margin: 50px 0 50px;
}

textarea{
    resize: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(80%);
}

input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(80%);
}

.main{
    flex: 1 0 auto;
}

.header{
    border-bottom: 1px solid black;
}

.header__line{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: flex;
    align-items: center;
}
.header-menu-left{
    display: flex;
    gap: 50px;
    align-items: center;
}
.menu__list{
    display: flex;
    gap: 100px;
}
.menu__list-link {
    font-weight: 500;
    align-items: center;
    position: relative;
}
.header-animation-line::after {
    content: "";
    position: absolute;
    left: 50%; /* Начало линии в центре */
    bottom: -8px; /* Отступ от текста */
    height: 2px; /* Толщина линии */
    background-color: currentColor;
    width: 0;
    transform: translateX(-50%); /* Центруем линию */
    transition: width 0.5s;
}
.header-animation-line:hover::after {
    width: 100%; /* Линия расширяется влево и вправо */
}
.header_icon{
    display: flex;
    align-items: center;
    gap: 5px;
}
.logout-btn{
    font-family: "Montserrat", sans-serif;
    background: none;
    padding: 0;
    text-align: center;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
    border: none;
}

.footer{
    border-top: 1px solid rgba(255, 255, 255, 0.6);
}
.footer_line-top{
    padding-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.app{
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    align-items: center;
}
.footer__logo h4{
    margin-top: 20px;
}
.form_title{
    margin-bottom: 55px;
}

.register-form{
    text-align: center;
}

.form-centre{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.login-form{
    text-align: center;
}

.notice {
    padding: 10px;
    border-radius: 15px;
    margin: 20px 0;
}

.notice.error {
    border: 3px solid #C31D41;
    background: rgba(195, 29, 65, 0.3);
    color: #C31D41;
}

.btn{
    font-family: "Montserrat", sans-serif;
    background-color: #C31D41;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    margin-top: 30px;
    height: 50px;
    width: 440px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    border: none;
}
.custom-input{
    font-family: "Montserrat", sans-serif;
    border: 1px solid #ffffff;
    background: none;
    border-radius: 15px;
    padding-left: 20px;
    height: 50px;
    width: 440px;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
}

.register-link{
    font-size: 16px;
    margin-top: 30px;
}

.slider {
    height: auto;
    width: 100%;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.75);
}

.slides {
    display: flex;
    animation: slideAnimation 8s linear infinite;
}

.slides img {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}

@keyframes slideAnimation {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(0);
    }
    33.33% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-100%);
    }
    58.33% {
        transform: translateX(-200%);
    }
    75% {
        transform: translateX(-200%);
    }
    83.33% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(-300%);
    }
}

.poster-title{
    margin-top: 50px;
    margin-bottom: 40px;
}

.poster_list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
}

.poster-list-item{
    position: relative;
    display: inline-block;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.75);
    border-radius: 15px;
    width: 315px;
    height: 470px;
    margin-bottom: 60px;
}
.poster-list-item-img{
    z-index: 1;
}
.poster-item-img{
    width: 315px;
    height: 470px;
    border-radius: 15px;
}
.ageLimit {
    position: absolute;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.40);
    color: white;
    border: 1px solid white;
    font-size: 16px;
    font-weight: 600;
    padding: 9px 11px 9px 11px;
    top: 0;
    right: 0;
    z-index: 2;
    margin: 10px 10px;
}
.ageLimit-admin{
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.40);
    border: 1px solid #070707;
    font-size: 16px;
    font-weight: 600;
    padding: 9px 11px 9px 11px;
}
.poster-after-hover{
    position: absolute;
    z-index: 2;
    border-radius: 15px;
    top: 0;
    left: 0;
    display: none;
    width: 315px;
    height: 470px;
    background-color: rgba(0, 0, 0, 0.50);
}

.poster-list-item:hover .poster-after-hover {
    display: block;
}

.poster-after-hover-text{
    margin: 10px 0 0 10px;
}

.poster-genre{
    font-size: 30px;
    font-weight: 600;
}

.poster-name{
    font-size: 16px;
    margin-top: 10px;
    font-weight: 600;
}

.about_film{
    position: relative;
    margin: 50px 0 50px;
}
.about_film-container{
    display: flex;
    gap: 80px;
}
.poster-about_film-container{
    position: relative;
    display: inline-block;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.75);
    border-radius: 15px;
    width: 315px;
    height: 470px;
}
.poster-about_film{
    z-index: 1;
}
.poster_about_film-img{
    width: 315px;
    height: 470px;
    border-radius: 15px;
}
.about_film-ageLimit{
    position: absolute;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.40);
    color: white;
    border: 1px solid white;
    font-size: 16px;
    font-weight: 600;
    padding: 9px 11px 9px 11px;
    top: 0;
    right: 0;
    z-index: 2;
    margin: 10px 10px;
}

.about_film-block-criteria{
    display: flex;
    gap: 30px;
    margin-top: 40px;
}
.about_film-criteria{
    font-size: 16px;
    font-weight: 500;
}
.about_film-info{
    font-size: 16px;
    font-weight: 400;
}

.form-favourite{
    position: absolute;
    top: 0;
    right: 0;
}

.favourite_btn{
    background: none;
    border: none;
}

.about_film-description{
    margin: 50px 0 50px;
}


.btn-admin-panel{
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.80);
    color: rgba(255, 255, 255, 0.80);
    border-radius: 15px;
    font-weight: 500;
    padding: 15px;
    width: 140px;
}

.admin-panel-text{
    display: flex;
    align-items: center;
}


.panel-icon{
    margin-right: 5px;
}


.show-title{
    display: flex;
    align-items: center;
}


.redact-show-form{
    display: flex;
    gap: 70px;
}

.redact-input{
    font-family: "Montserrat", sans-serif;
    border: 1px solid #ffffff;
    background: none;
    border-radius: 15px;
    padding-left: 20px;
    height: 50px;
    width: 250px;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 400;
}

.redact-input-cost{
    font-family: "Montserrat", sans-serif;
    border: 1px solid #ffffff;
    background: none;
    border-radius: 15px;
    padding-left: 20px;
    height: 50px;
    width: 150px;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 400;
}

.redact-input-genre{
    font-family: "Montserrat", sans-serif;
    border: 1px solid #ffffff;
    background: none;
    border-radius: 15px;
    padding-left: 20px;
    height: 50px;
    width: 320px;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 400;
}

select option{
    background-color: #1C1C1A;
}

.custom-select-film{
    font-family: "Montserrat", sans-serif;
    border: 1px solid #ffffff;
    background: none;
    border-radius: 15px;
    padding-left: 20px;
    height: 50px;
    width: 250px;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 400;
}

.redact_genre-block{
    display: flex;
    justify-content: space-between;
}

.redact-film-form{
    display: flex;
    justify-content: space-between;
}

.redact-film-form-block-item{
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

textarea{
    border: 1px solid #ffffff;
    outline: none;
    resize: none;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    padding: 10px;
    background: none;
    color: rgba(255, 255, 255, 0.60);
    border-radius: 15px;
}

/* Пользовательский скроллбар */
textarea::-webkit-scrollbar {
    width: 8px; /* Ширина скроллбара */
}

textarea::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.50); /* Цвет ползунка скроллбара */
    border-radius: 4px; /* Скругление углов ползунка */
}

.custom-textarea{
    height: 290px;
}

.redact-film-form-block{
    width: 100%;
    position: relative;
}

.genre-content-list{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.genre-content-list-item{
    display: flex;
    gap: 20px;
}

.shows-content-list{
    display: flex;
    justify-content: space-between;
}

.film-content-list{
    position: relative;
    margin-top: 50px;
}

.shows-content-list-item{
    display: flex;
    gap: 20px;
}

.btn-icon{
    background: none;
    border: none;
}

.show-table-zag{
    padding-bottom: 25px;
}

.show-table-content{
    padding-right: 10px;
}
.poster-img{
    width: 90px;
    height: auto;
    border-radius: 15px;
}

.film-content-list-item_item{
    display: flex;
    justify-content: space-between;
}

.button-panel-list{
    display: flex;
    gap: 30px;
    margin: 50px 0 50px;
}

.checked-btn-panel{
    color: #C31D41;
    border: 1px solid #C31D41;
}

.add_show-film{
    margin-bottom: 50px;
}

.redact_genre-film{
    margin-top: 50px;
}

.redact_film{
    margin-top: 50px;
    margin-bottom: 20px;
}

.container-text{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.poster-content-schedule-container{
    position: relative;
    display: inline-block;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.75);
    border-radius: 15px;
    width: 238px;
    height: 355px;
}
.poster-content-schedule{
    z-index: 1;
}
.poster_content-schedule-img{
    width: 238px;
    height: 355px;
    border-radius: 15px;
}

.schedule-time-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
}

.btn-time{
    display: flex; /* Включаем flexbox */
    flex-direction: column; /* Располагаем элементы вертикально */
    align-items: center; /* Выравнивание по горизонтали */
    justify-content: center; /* Выравнивание по вертикали */
    font-family: "Montserrat", sans-serif;
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.80);
    color: rgba(255, 255, 255, 0.80);
    border-radius: 15px;
    font-weight: 500;
    height: 58px;
    width: 106px;
    text-align: center;
    text-decoration: none; /* Убираем подчеркивание для ссылок */
}

.text-schedule-time{
    color: rgba(255, 255, 255, 0.60);
    font-size: 12px;
    margin-top: 2px;
}

.schedule-time-list_item{
    margin-top: 40px;
}

.btn-time:hover {
    border: 1px solid #C31D41;
    color: #C31D41;
}

.btn-time:hover .text-schedule-time {
    color: #C31D41;
}

.tab-schedule-item > input[type="radio"] {
    display: none;
}

.tab-schedule-item > span {
    display: block;
    cursor: pointer;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.80);
    color: rgba(255, 255, 255, 0.80);
    border-radius: 15px;
    font-weight: 500;
    padding: 15px;
    width: 140px;
    height: 50px;
    text-align: center;
}

/* Стили для выделенной радиокнопки */
.selected > span {
    color: #C31D41;
    border: 1px solid #C31D41;
    border-radius: 15px;
}

.tab-content {
    display: none;
    width: 100%;
}

/* Контейнер для радиокнопок с датами */
.radio-container {
    display: flex;
    overflow-x: auto; /* Позволяет скроллить содержимое по горизонтали */
    gap: 25px; /* Расстояние между радиокнопками */
    white-space: nowrap; /* Ожидается, что элементы не будут переноситься на новую строку */
    margin: 50px 0 ;
    padding-bottom: 5px;
}
/* Стилизация полосы прокрутки для WebKit-браузеров */
.radio-container::-webkit-scrollbar {
    height: 8px; /* Высота горизонтальной полосы прокрутки */
}
.radio-container::-webkit-scrollbar-track {
    background: none; /* Убирает белый фон трека */
}
.radio-container::-webkit-scrollbar-thumb {
    background-color: #2d2d2d;
    border-radius: 4px;
}
.radio-container::-webkit-scrollbar-thumb:hover {
    background-color: #3d3d3d;
}
.tab-schedule-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 15px;
    transition: background-color 0.3s, border-color 0.3s;
}
.booking_film{
    position: relative;
    margin: 50px 0 25px;
}
.booking_film-container{
    display: flex;
    gap: 30px;
}
.poster-booking_film-container{
    position: relative;
    display: inline-block;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.75);
    border-radius: 15px;
    width: 124px;
    height: 124px;
}
.poster_booking_film-img{
    object-fit: cover;
    width: 124px;
    height: 124px;
    border-radius: 15px;
}

.booking_film-block{
    display: flex;
    gap: 30px;
    margin-top: 32px;
}

.booking-seat-form{
    margin-top: 25px;
    margin-bottom: 60px;

}
.screen-booking{
    text-align: center;
}

.text-seat{
    color: rgba(0, 0, 0, 0.60);
    font-size: 10px;
}
.select-seat-form{

    display: flex;
    flex-direction: column;
    align-items: center;
}
.chairs-example{
    display: flex;
    gap: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
}
.example{
    display: flex;
    gap: 20px;
}
.text-example{
    margin-top: 5px;
}
.hall-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hall-container {
    margin-top: 40px;
    text-align: center;
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    gap: 20px;
    align-items: center;
}
.row {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    gap: 5px;
}
.seat {
    background-image: url('../icons/Icon_chair_white.svg');
    width: 32px;
    height: 29px;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    vertical-align: middle;
}
.seat.reserved {
    background-image: url('../icons/Icon_chair_black.svg');
    cursor: not-allowed;
}
.seat.selected {
    background-image: url('../icons/Icon_chair_red.svg');
}
.selected-seats_block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.selected-seats-background{
    background-color: #2d2d2d;
    border-radius: 15px;
    border: 2px solid #2d2d2d;
    margin-bottom: 10px;
    height: 50px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidebar {
    width: 250px;
    background-color: #1C1818;
    color: #fff;
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
}
.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.sidebar ul li {
    margin: 15px 0;
}
.sidebar ul li a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    font-weight: 500;
    display: block;
    padding: 15px 25px;
}
.sidebar ul li a:hover {
    color: #C31D41;
}
.content {
    flex: 1;
    padding: 40px;
    background-color: #1C1C1A;
    overflow-y: auto;
}
.content::-webkit-scrollbar {
    display: none;
}
.content-section {
    display: none;
}
.content-section.active {
    display: block;
}
.admin-panel {
    display: flex;
    height: 100vh;
}
.sidebar-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}
.logo__img {
    max-width: 100%;
    height: auto;
}
.sidebar ul li a.active {
    background-color: #262626;
    color: #C31D41;
    border-radius: 4px;
}
.logout {
    margin-top: auto;
    text-align: center;
    padding: 20px 0;
}
.logout a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    padding: 15px 15px;
    display: inline-block;
    border-radius: 15px;
    border: 1px solid #C31D41;
    transition: background-color 0.3s ease;
}
.logout a:hover {
    background-color: #C31D41;
}
.hint{
    margin-top: 8px;
    width: 440px;
    font-size: 12px;
    color: #575757;
}
