<div th:fragment="adminGenreFragment">
    <section class="all-genres">
        <h2>Жанры</h2>
        <hr style="margin: 30px 0 30px">
        <div th:each="genre : ${genres}">
            <div class="genre-content-list">
                <div class="genre-content-list-item">
                    <h3 th:text="${genre.genreName}"></h3>
                </div>
                <div class="genre-content-list-item">
                    <div class="panel-icon">
                        <a th:href="'/edit/genre/' + ${genre.id}">
                            <img src="/assets/icons/Edit.svg" alt="">
                        </a>
                    </div>
                    <div class="panel-icon">
                        <form th:action="'/remove/genre/' + ${genre.id}" method="post">
                            <button type="submit" class="btn-icon">
                                <img src="/assets/icons/Delete.svg" alt="">
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="redact_genre-film" style="margin-bottom: 50px;">
        <div class="redact_genre-block">
            <h2>Добавление жанра</h2>
            <form th:action="@{/genre/add}" method="post" class="redact-show-form">
                <input id="genre" name="name_genre" type="text" class="redact-input-genre" placeholder="Название" required>
                <button class="btn-admin-panel">
                    <div class="admin-panel-text">
                        <div class="panel-icon">
                            <img src="/assets/icons/Plus.svg" alt="">
                        </div>
                        <h4>Добавить</h4>
                    </div>
                </button>
            </form>
        </div>
    </section>
</div>