<div th:fragment="adminMovieFragment">
    <section class="all-films">
        <h2>Фильмы</h2>
        <hr style="margin-bottom: 0;">
        <div class="film-content-list">
            <table style="width: 100%">
                <tr>
                    <th class="show-table-zag show-table-content">Постер</th>
                    <th class="show-table-zag show-table-content">Название</th>
                    <th class="show-table-zag show-table-content">Жанр</th>
                    <th class="show-table-zag show-table-content">Возрастное ограничение</th>
                    <th class="show-table-zag show-table-content">Режиссер</th>
                    <th class="show-table-zag show-table-content">В ролях</th>
                    <th class="show-table-zag show-table-content">Страна</th>
                    <th class="show-table-zag show-table-content">Продолжительность</th>
                    <th class="show-table-zag show-table-content">Описание</th>
                </tr>

                <div th:each="movie : ${movies}">
                    <tr>
                        <td class="show-table-content" style="text-align: center; vertical-align: middle;">
                            <a th:href="'/movie/' + ${movie.id}">
                                <img th:src="@{'/assets/images/uploads/' + ${movie.poster_film}}" alt="" class="poster-img">
                            </a>
                        </td>
                        <td th:text="${movie.name}" class="show-table-content"></td>
                        <td th:text="${movie.genre.genreName}" class="show-table-content"></td>
                        <td class="show-table-content"><span th:text="${movie.age.age}" class="ageLimit-admin"></span></td>
                        <td th:text="${movie.filmmaker}" class="show-table-content"></td>
                        <td th:text="${movie.actors}" class="show-table-content"></td>
                        <td th:text="${movie.country}" class="show-table-content"></td>
                        <td th:text="${movie.duration} + ' мин.'" class="show-table-content"></td>
                        <td th:text="${#strings.length(movie.description) > 50 ? movie.description.substring(0, 50) + '...' : movie.description}" class="show-table-content"></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="btns-content" style="display: flex; gap: 15px;">
                                <h4 style="font-weight: bold">Действия: </h4>
                                <a th:href="'/edit/movie/' + ${movie.id}">
                                    <img src="/assets/icons/Edit.svg" alt="">
                                </a>
                                <form th:action="'/remove/movie/' + ${movie.id}" method="post">
                                    <button type="submit" class="btn-icon">
                                        <img src="/assets/icons/Delete.svg" alt="">
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                </div>

            </table>
        </div>
    </section>
    <section class="redact_film">
        <h2>Добавление фильма</h2> <hr>
        <form th:action="@{/movie/add}" method="post" class="redact-film-form" enctype="multipart/form-data">
            <div class="redact-film-form-block" style="width: auto;">
                <div class="redact-film-form-block-item">
                    <input id="name_film" name="name_film" type="text" class="redact-input-genre" placeholder="Название" required>
                    <select name="genreId" id="name_genre" class="redact-input-genre">
                        <option th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.genreName}"></option>
                    </select>
                </div>
                <div class="redact-film-form-block-item">
                    <input style="width: 100%;" id="actors" name="actors" type="text" class="redact-input-genre" placeholder="Актеры">
                </div>
                <div class="redact-film-form-block-item">
                    <input id="duration" name="duration" type="text" class="redact-input-genre" placeholder="Продолжительность, мин" required>
                    <select name="ageId" id="name_ageLimit" class="redact-input-genre">
                        <option th:each="age : ${ages}" th:value="${age.id}" th:text="${age.age}"></option>
                    </select>
                </div>
                <div class="redact-film-form-block-item">
                    <input id="filmmaker" name="filmmaker" type="text" class="redact-input-genre" placeholder="Режиссер" required>
                    <input id="country" name="country" type="text" class="redact-input-genre" placeholder="Страна" required>
                </div>
                <input style="margin-top: 30px;" id="poster" name="poster" type="file" class="" required>
            </div>
            <div class="redact-film-form-block" style="margin-left: 20px">
                <textarea style="width: 100%;" id="description" name="description" class="custom-textarea" placeholder="Описание" required></textarea> <br>
                <button class="btn-admin-panel" type="submit" style="margin-top: 30px; position: absolute; right: 0;">
                    <div class="redact-text">
                        <div class="admin-panel-text">
                            <div class="panel-icon">
                                <img src="/assets/icons/Plus.svg" alt="">
                            </div>
                            <h4>Добавить</h4>
                        </div>
                    </div>
                </button>
            </div>
        </form>
    </section>
</div>
