<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ticket System</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/app.css">
</head>
<body>

<div class="wrapper">

    <header th:insert="components/header :: header"></header>

    <main class="main">

        <div class="container">

            <section th:each="genre : ${genres}" class="redact_genre-film">
                <div class="redact_genre-block">
                    <h1>Обновление жанра</h1>
                    <form method="post" class="redact-show-form">
                        <input type="hidden" name="id" th:value="${genre.id}">
                        <input id="name_genre" name="name_genre" type="text" class="redact-input-genre" th:value="${genre.genreName}" required>
                        <button class="btn-admin-panel" type="submit">
                            <div class="admin-panel-text">
                                <div class="panel-icon">
                                    <img src="/assets/icons/Edit.svg" alt="">
                                </div>
                                <h4>Обновить</h4>
                            </div>
                        </button>
                    </form>
                </div>
            </section>

        </div>

    </main>

    <footer th:insert="components/footer :: footer"></footer>

</div>

</body>
</html>