<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="components/head :: head"></head>
<body>
<div class="wrapper">
    <header th:insert="components/header :: header"></header>
    <main class="main">
        <div class="container">
            <section th:each="show : ${shows}" class="redact_show-film">
                <div class="container">
                    <h1 style="margin-top: 50px;">Обновление сеанса</h1> <hr>
                    <form method="post" class="redact-show-form">
                        <input type="hidden" name="id" th:value="${show.id}">
                        <input id="date" name="date" type="date" class="redact-input" th:value="${show.date}" required>
                        <input id="time" name="time" type="time" class="redact-input" th:value="${show.time}" required>
                        <input id="cost" name="cost" type="text" class="redact-input-cost" placeholder="Цена" th:value="${show.cost}" required>
                        <select name="movieId" id="movieId" class="redact-input-genre">
                            <option th:each="movie : ${movies}"
                                    th:value="${movie.id}"
                                    th:text="${movie.name}"
                                    th:selected="${movie.id} == ${show.movie.id}">
                            </option>
                        </select>
                        <button class="btn-admin-panel" type="submit">
                            <div class="admin-panel-text">
                                <div class="panel-icon">
                                    <img src="/assets/icons/Edit.svg" alt="">
                                </div>
                                <h4>Обновить</h4>
                            </div>
                        </button>
                    </form>
                </div>
            </section>
        </div>
    </main>
</div>
</body>
</html>