<div th:fragment="footer">

    <footer class="footer">
        <div class="container">
            <div class="footer_line-top">
                <div class="footer__logo">
                    <img src="/assets/icons/Logo.svg" alt="" class="logo__img">
                    <h4>© 2024 Киносфера</h4>
                </div>
                <ul class="app">
                    <li class="app__item">
                        <a href="https://vk.com/d_mozhaeva" class="app__item-link"><img class="app__item-img" src="/assets/icons/VK.svg" alt=""></a>
                    </li>
                    <li class="app__item">
                        <a href="https://t.me/daria_ert" class="app__item-link"><img class="app__item-img" src="/assets/icons/Telegram.svg" alt=""></a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>

</div>