<div th:fragment="header">
    <header class="header">
        <div class="container">
            <div class="header__line">
                <div class="header-menu-left">
                    <div class="header__logo">
                        <a th:href="@{/}" class="menu__list-link">
                            <img src="/assets/icons/Logo.svg" alt="" class="logo__img">
                        </a>
                    </div>
                </div>
                <nav class="menu">
                    <ul class="menu__list">
                        <li sec:authorize="hasAuthority('ADMIN')" class="menu__list-item">
                            <a th:href="@{/admin}" class="menu__list-link header-animation-line">Админка</a>
                        </li>
                        <li class="menu__list-item">
                            <a th:href="@{/schedule}" class="menu__list-link header-animation-line">Расписание</a>
                        </li>
                        <li class="menu__list-item header_icon" sec:authorize="!isAuthenticated()">
                            <a th:href="@{/login}" class="menu__list-link header-animation-line">Вход</a>
                        </li>
                        <li sec:authorize="isAuthenticated()" class="menu__list-item header_icon">
                            <a th:href="@{#}" class="menu__list-link header-animation-line">
                                <span th:text="${#authentication.name}">Профиль</span>
                            </a>
                        </li>
                        <li class="menu__list-item header_icon" sec:authorize="isAuthenticated()">
                            <form th:action="@{/logout}" method="post">
                                <button type="submit" class="header_icon header-animation-line logout-btn">
                                    <h4 class="menu__list-link header-animation-line">Выход</h4>
                                </button>
                            </form>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
</div>
