<div th:fragment="header">
    <header class="header">
        <div class="container">
            <div class="header__line">
                <div class="header-menu-left">
                    <div class="header__logo">
                        <a th:href="@{/}" class="menu__list-link header-animation-line"><h1>ЛОГО</h1></a>
                    </div>
                </div>
                <nav class="menu">
                    <ul class="menu__list">
                        <li class="menu__list-item">
                            <a th:href="@{/admin/movies}" class="menu__list-link header-animation-line">Панель</a>
                        </li>
                        <li class="menu__list-item">
                            <a href="#" class="menu__list-link header-animation-line">Расписание</a>
                        </li>
                        <li class="menu__list-item header_icon">
                            <div class="heart-icon">
                                <img src="/assets/icons/header_heart.svg" alt="">
                            </div>
                            <a href="#" class="menu__list-link header-animation-line">Избранное</a>
                        </li>
                        <li class="menu__list-item header_icon">
                            <div class="entrance-icon">
                                <img src="/assets/icons/header_entrance.svg" alt="">
                            </div>
                            <a th:href="@{/login}" class="menu__list-link header-animation-line">Вход</a>
                        </li>
                        <li class="menu__list-item header_icon">
                            <div class="user-icon">
                                <img src="/assets/icons/header_user.svg" alt="">
                            </div>
                            <a href="#" class="menu__list-link header-animation-line">Профиль</a>
                        </li>
                        <!-- Проверка, авторизован ли пользователь -->
                        <div>
                            <li class="menu__list-item header_icon">
                                <form th:action="@{/logout}" method="post">
                                    <button type="submit" class="header_icon header-animation-line logout-btn">
                                        <div class="entrance-icon">
                                            <img src="/assets/icons/header_entrance.svg" alt="">
                                        </div>
                                        <h4 class="menu__list-link header-animation-line">Выход</h4>
                                    </button>
                                </form>
                            </li>
                        </div>

                    </ul>
                </nav>
            </div>
        </div>
    </header>

</div>