<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="components/head :: head"></head>
<body>
<div class="wrapper">
<header th:insert="components/header :: header"></header>
<main class="main">
    <div class="slider">
        <div class="slides">
            <img class="servers_image" src="/assets/images/Slide2.jpg" alt="">
            <img class="servers_image" src="/assets/images/Slide3.jpg" alt="">
            <img class="servers_image" src="/assets/images/Slide4.jpg" alt="">
            <img class="servers_image" src="/assets/images/Slide2.jpg" alt="">
        </div>
    </div>
    <div class="container">
        <div class="poster-title">
            <h1>Афиша</h1>
        </div>
        <div class="poster_list">
            <a th:each="el : ${movies}" th:href="'/movie/' + ${el.id}">
                <div class="poster-list-item">
                    <div class="poster-list-item-img">
                        <img th:src="@{'/assets/images/uploads/' + ${el.poster_film}}" alt="" class="poster-item-img">
                    </div>
                    <span th:text="${el.age.age}" class="ageLimit"></span>
                    <div class="poster-after-hover">
                        <div class="poster-after-hover-text">
                            <div th:text="${el.genre.genreName}" class="poster-genre"></div>
                            <div th:text="${el.name}" class="poster-name"></div>
                            <div th:text="${el.duration} + ' мин.'" class="poster-name"></div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</main>
<footer th:insert="components/footer :: footer"></footer>
</div>
</body>
</html>



