<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="components/head :: head"></head>
<body>
<div class="wrapper">
    <header th:insert="components/header :: header"></header>
    <main class="main">
        <div class="container">
            <div class="form-centre">
                <div class="login-form">
                    <h1 class="form_title">Вход</h1>
                    <form th:action="@{/login}" method="post" class="register_form">
                        <input type="email" name="username" class="custom-input" placeholder="E-mail" required><br>
                        <input type="password" id="password" name="password" class="custom-input" placeholder="******" required><br>
                        <div th:if="${param.error}">
                            <p class="hint">
                                Неверный логин или пароль
                            </p>
                        </div>
                        <button type="submit" class="btn">Войти</button>
                    </form>
                    <div class="register-link">
                        <a th:href="@{/registration}">Зарегистрироваться</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

</div>

</body>
</html>